/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

/* Contêiner principal para input e output */
.input_Output {
    display: flex; /* Coloca input e output lado a lado */
    justify-content: center;
}

/* Estilo para o contêiner de input */
.inputs {
    display: flex;
    flex-direction: column; /* Organiza os botões em coluna */
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 25px;
}

.inputE button {
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 70px;
    margin-left: 90px;
}

.inputs button {
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 70px; /* Largura fixa para os botões */
}

.inputs button.active {
    background-color: #0056b3;
}

/* Estilo para o contêiner de output */
.outputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Organiza as luzes em coluna */
    align-items: center; /* Centraliza as luzes horizontalmente */
    gap: 40px; /* Espaçamento entre as luzes */
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.light.active {
    background-color: yellow;
}

.circuit-output img {
    width: 450px;  
    height: auto; 
    display: block;
}