* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 88vh;
}

.sidebar-bottom {
    width: 250px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 12vh;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar ul li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s;
    height: 40px;
    width: 240px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidebar ul li a:hover {
    background-color: #a1a1a1;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #b40d0d;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding: 15px;
    text-align: end;
    font-size: 1.0rem;
    height: 60px;
}

.menu-item-header {
    display: flex;
    color: white;
    font-size: large;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 180px;
    height: 30px;
    padding: 20px;
}

.menu-item-header:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra simples */
}

.content {
    padding: 20px;
    background-color: white;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-top: 60px;
    }
}
