/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden; /* Remove barra de rolagem horizontal */
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 24vh;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 87vh;
}

.sidebar-bottom {
    width: 24vh;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-top: 20px;
    height: 7vh;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar ul li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 40px;
    width: 240px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidebar ul li a:hover {
    background-color: #a1a1a1;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.main-content {
    display: flex;
    width: calc(100% - 24vh);
    flex-direction: column;
}

/* Header atualizado */
header {
    background: linear-gradient(135deg, #8e0e00, #1f1c18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 15px 30px;
    height: 8vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
}

.menu-item-header:hover {
    color: #ffd700;
}

.menu-item-header::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #ffd700;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.menu-item-header:hover::after {
    width: 100%;
}

.principal-container {
    display: flex;
    flex-direction: row;
}

.menu-item-header:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content {
    padding: 20px;
    background-color: white;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        padding-top: 0px;
    }

    .sidebar-bottom {
        width: 0vh;
        height: 0vh;
    }

    .main-content {
        width: 100%;
        height: 86vh;
    }

    .principal-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .sidebar {
        align-items: center;
        justify-content: center;
        height: 8vh;
    }

    .sidebar ul {
        flex-direction: row;
    }

    .sidebar ul li a {
        width: auto;
    }

    header {
        justify-content: center;
        text-align: center;
        height: 10vh;
    }
}
